 #container{
	width: 1010px;
	margin: auto;
}
#buttons{
}
#maze{
	float: left;
}
.button {
	/*background-color: #fffdc4f7;*/
	border: 2px solid #cab83c;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 20px;
}
.button1 {font-size: 10px;}
.button2 {font-size: 12px;}
.button3 {font-size: 16px;}
.button4 {font-size: 20px;}
.button5 {font-size: 24px;}
.up {background-color: #2fad19}
.right {background-color: #ffff00}
.left {background-color: #f14411}