 body{
 	width: 98%;
    border: 1px solid black;
    height: 700px;
    background-color: azure;
 }

h1{
	background-color: #384ee55c;
	margin-bottom: 70px;
}

.main-title {
  font-size: 50px;
  margin-left: 47px;
  transform:scale(2,1);

}
.main-title span:nth-child(1) {
  color:#a71313;
}
.main-title span:nth-child(2) {
  color: darkblue;
}
.main-title span:nth-child(3) {
  color: #2fad19;
}
.main-title span:nth-child(4) {
  color: #ffff00;
}
.main-title span:nth-child(5) {
  color: #f14411;
}
.main-title span:nth-child(6) {
  color: black;
}
#maze{
	float: left;
	width: 37.3%;
	margin: 0 50;
}
.coding{
	background-color: azure;
}
.scegli{
	background-color: azure;
}
.conta{
	background-color: azure;
}
line{
	stroke:#6a1919;
	stroke-width:1;
	stroke-linecap: round;
	stroke-dasharray: 3 15;
}
.border-line {
	stroke-width:15;
	stroke:#a71313;
}
#buttons{
	padding-right: 140px;
}
.button {
	/*background-color: #fffdc4f7;*/
	border: 2px solid #cab83c;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 20px;
}
.button1 {font-size: 10px;}
.button2 {font-size: 12px;}
.button3 {font-size: 16px;}
.button4 {
	font-size: 20px;
	float: right;
	width: 395px;
}
#button5 {
	background-color:#47c9f0;
	font-size: 24px;
	width: 395px;
	visibility: hidden;
}
#counters{
	visibility: hidden;
}
.up {background-color: #2fad19}
.right {background-color: #ffff00}
.left {background-color: #f14411}

/* Style the links inside the navigation bar */
.topnav {
	float: right;
}
.topnav a {
  color: #6f7a9f;
  text-align: center;
  padding: 10px 27px 21px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 5px;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #8a9ac0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: green;
  color: white;
}
input[type="text"]{ 
	padding: 20px 10px; line-height: 28px; 
	font-size: 27px;
}

.t-neutral .select-box-svg__inner {
	 background-color: #eee;
}
.t-neutral .select-box-svg__inner select option {
	color: #111;
}
.t-neutral .select-box-svg__inner select {
	color: #697070;
}
.t-neutral .select-box-svg__inner select:active,
.t-neutral .select-box-svg__inner select:focus {
}
.t-neutral .icon--arrow .icon__box {
   fill:  #222;
}
.t-neutral .icon--arrow .icon__caret {
	fill: #fff;
}
.number{
	float: left;
}
.select-box-svg{
	width: 100px;
	/*float: left;*/
}
.slide {
  /*animation: 2s 1 forwards;*/
  transition-duration: 1s;
}

.counter-block {
	width: 100px;
	display: inline;
}
.ouch {
  background-image: url(move.svg);
}
.bounce-v {
	animation-name: bounce-v;
	animation-duration: .3s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
	z-index: -1;
}
@keyframes bounce-v {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-30px); }
	100% { transform: translateY(0); }
}
.bounce-h {
	animation-name: bounce-h;
	animation-duration: .3s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
	z-index: -1;
}
@keyframes bounce-h{
	0%   { transform: translateX(0); }
	50%  { transform: translateX(-30px); }
	100% { transform: translateX(0); }
}
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
	transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
	transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
	transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
	transform: translate3d(4px, 0, 0);
  }
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(5,5);
    }
    100% {
        transform: scale(1,1);
        transform: translate(1,401)
    }
}

.zooom {
	animation: zoominoutsinglefeatured 10s forwards;
}
.robot-back{
	background-image: url('imgs/robot.svg');
	width: 96px;
	height: 62px;
	display: inline-grid;
	position: absolute;
	z-index: 50;
}
.asteroid{
	background-image: url('imgs/asteroid.svg');
	display: inline-grid;
	position: absolute;
	left:57px;
	width: 100px;
	height: 100px;
	z-index: 100;
}
.pila{
	background-image: url('imgs/pila.svg');
	display: inline-grid;
	position: absolute;
	left:57px;
	width: 100px;
	height: 100px;
	z-index: 20;
}
/*fireworks*/
.night {
  background: #000;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
